
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html {
  max-width: 100vw;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: rgb(32,32,33);
  /* background: linear-gradient(100deg, rgba(32,32,33,1) 80%, rgba(78,74,74,1) 94%); */
}

@media only screen and (min-width: 768px) {
  /* Larger than mobile phones*/
  html {
    /* background: rgb(32,32,33); */
    /* background: linear-gradient(160deg, rgba(32,32,33,1) 62%, rgba(78,74,74,1) 94%); */
  }
}

